{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="home-page-section bg-blue">
    <div class="container-fluid p-5">
        <h1 class="display-1 lobster text-center" data-aos="fade" data-aos-duration="1000">Gallery</h1>
        <div class="row h-100 justify-content-center">
            {% for image in gallery_images %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 d-flex justify-content-center align-middle mt-5" data-aos="fade" data-aos-duration="1000" data-aos-delay="500">
                    <div class="card border-0 rounded-0 gallery-image">
                        <img src="{{ image.image.url }}" alt="{{ image.name }}">
                        <small class="text-center mt-2">{{ image.name }}</small>
                    </div>
                </div>
            {% endfor %}
        </div>
        <nav aria-label="Pagination" class="mt-5">
            <ul class="pagination justify-content-center">
                {% if gallery_images.has_previous %}
                    <a href="?page=1" class="page-link">&laquo; First</a>
                    <a href="?page={{ gallery_images.previous_page_number }}" class="page-link">Previous</a>
                {% endif %}
                <span class="page-item page-link">
                    Page {{ gallery_images.number }} of {{ gallery_images.paginator.num_pages }}
                </span>
                {% if gallery_images.has_next %}
                    <a href="?page={{ gallery_images.next_page_number }}" class="page-link">Next</a>
                    <a href="?page={{ gallery_images.paginator.num_pages }}" class="page-link">Last &raquo;</a>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>
{% endblock content %}