{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="cover-image home-page-section">
    <div class="container-fluid p-5 h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 d-flex justify-content-center align-middle">
                <div class="d-block text-center m-auto">
                    <h1 class="display-1 lobster text-white" data-aos="fade-right" data-aos-duration="1000">101 Transfurmations!</h1>
                    <p class="lead mt-md-5 mt-3 text-white" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">A professional dog gooming parlour which offers a 1-to-1 grooming experience, in a quiet and peaceful environment. <strong class="fw-bold text-white text-decoration-underline">First aid trained.</strong></p>
                    <!-- TODO: Add url to contact page -->
                    <a href="#" class="btn btn-lg btn-outline-light rounded-0 fw-bold mt-md-5" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000">BOOK TODAY</a>
                </div>
            </div>
            <div class="col-12 mt-3 d-flex justify-content-center align-middle">
                <div class="d-block m-auto">
                    <a href="#" role="button" class="btn btn-lg rounded-0 my-auto hvr-wobble-vertical" data-aos="fade" data-aos-duration="1000" data-aos-delay="1500">
                        <div class="d-block">
                            <i class="bi bi-mouse-fill icon-lg"></i>
                        </div>
                        <div class="d-block">
                            <i class="bi bi-arrow-down icon-lg"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
