{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="cover-image home-page-section">
    <div class="container-fluid p-5 h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 d-flex justify-content-center align-middle">
                <div class="d-block text-center m-auto">
                    <h1 class="display-1 lobster text-white" data-aos="fade-right" data-aos-duration="1000">Ready for a total transfurmation?</h1>
                    <p class="lead mt-md-5 mt-3 text-white" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">101 Transfurmations is a professional dog gooming parlour which offers a 1-to-1 grooming experience, in a quiet and peaceful environment. <strong class="fw-bold text-white text-decoration-underline">First aid trained.</strong></p>
                    <!-- TODO: Add url to contact page -->
                    <a href="#" class="btn btn-lg btn-outline-light rounded-0 fw-bold mt-md-5" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000">BOOK TODAY</a>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center align-middle">
                <div class="d-block m-auto">
                    <a href="#about" role="button" class="btn btn-lg rounded-0 my-auto hvr-wobble-vertical" data-aos="fade" data-aos-duration="1000" data-aos-delay="1500">
                        <div class="d-block">
                            <i class="bi bi-mouse-fill icon-lg"></i>
                        </div>
                        <div class="d-block">
                            <i class="bi bi-arrow-down icon-lg"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-page-section bg-blue" id="about">
    <div class="container-fluid h-100 p-5">
        <div class="row h-100">
            <h1 class="display-1 lobster text-center mb-5" data-aos="fade" data-aos-duration="1000">What we're all about!</h1>
            <div class="col-12 col-md-6 d-flex justify-content-center align-middle">
                <img src="{% static 'profile_picture.png' %}" alt="Ella's Profile Picture" class="profile-picture" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-middle">
                <article class="p-3" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
                    <h1 class="fw-light">Hi and welcome to 101 Transfurmations Dog Grooming!</h1>
                    <p class="lead">
                        It is our mission to give your pets the best treatment possible. We do this by being situated in a quiet and peaceful environment that will make your pets feel at home. <br>
                        We offer a 1-to-1 service, so your pet gets all of the attention that they need. <br>
                        To top if off, there is no need to worry as we are fully insured and are first aid trained, in case anything happens. <br>
                    </p>
                    <p class="fw-bold">Don't take our word? Look at some of our previous customers below!</p>
                </article>
            </div>
            <div class="col-12 d-flex justify-content-center align-middle">
                <div class="d-block m-auto">
                    <a href="#gallery" role="button" class="btn btn-lg rounded-0 my-auto hvr-wobble-vertical" data-aos="fade" data-aos-duration="1000" data-aos-delay="1500">
                        <div class="d-block">
                            <i class="bi bi-mouse-fill icon-lg"></i>
                        </div>
                        <div class="d-block">
                            <i class="bi bi-arrow-down icon-lg"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-page-section" id="gallery">
    <div class="container-fluid h-100 p-5">
        <div class="row h-100">
            <h1 class="display-1 lobster text-center" data-aos="fade" data-aos-duration="1000">Our previous customers!</h1>
            {% for image in gallery_images %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 d-flex justify-content-center align-middle mt-5" data-aos="fade" data-aos-duration="1000" data-aos-delay="500">
                    <div class="card border-0 rounded-0 gallery-image">
                        <img src="{{ image.image.url }}" alt="{{ image.name }}">
                        <small class="text-center mt-2">{{ image.name }}</small>
                    </div>
                </div>
            {% endfor %}
            <p class="fw-bold text-center mt-5" data-aos="fade" data-aos-duration="1000" data-aos-delay="1000">Read some reviews about us below!</p>
            <div class="col-12 d-flex justify-content-center align-middle">
                <div class="d-block m-auto">
                    <a href="#reviews" role="button" class="btn btn-lg rounded-0 my-auto hvr-wobble-vertical" data-aos="fade" data-aos-duration="1000" data-aos-delay="1500">
                        <div class="d-block">
                            <i class="bi bi-mouse-fill icon-lg"></i>
                        </div>
                        <div class="d-block">
                            <i class="bi bi-arrow-down icon-lg"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-page-section bg-light" id="reviews">
    <div class="container-fluid h-100 p-5">
        <div class="row h-100">
            <h1 class="display-1 lobster text-center mb-5" data-aos="fade" data-aos-duration="1000">Some words from our previous customers</h1>
            {% for review in reviews %}
                <div class="col-12 col-sm-6 col-md- col-lg-2 d-flex justify-content-center align-middle my-5" data-aos="fade-right" data-aos-duration="1000" data-delay="1000">
                    <blockquote class="p-3">
                        <q class="lead">{{ review.comment }}</q>
                        <p>
                            <cite>- {{ review.name }}</cite>
                        </p>
                    </blockquote>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<footer>
    <div class="container-fluid p-5 text-center">
        <div class="row">
            <div class="col-12 col-md-4 my-3">
                <h1 class="lobster mb-3">Links</h1>
                <ul class="navbar nav">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link hvr-underline-from-left">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link hvr-underline-from-left">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link hvr-underline-from-left">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link hvr-underline-from-left">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 my-3">
                <h1 class="lobster mb-3">Contact</h1>
                <a href="tel:+447383839538" class="nav-link">
                    <i class="bi bi-phone-fill"></i>
                    07383 83938
                </a>
            </div>
            <div class="col-12 col-md-4 my-3">
                <h1 class="lobster mb-3">Social Media</h1>
                <a href="https://www.facebook.com/101Transfurmations" target="_blank" class="nav-link">
                    <i class="bi bi-facebook"></i>
                    101 Transfurmations
                </a>
            </div>
            <hr>
            <div class="col-12">
                <p class="small">&copy; 2021 101 Transfurmations Dog Grooming | Design By Roy Magnussen</p>
            </div>
        </div>
    </div>
</footer>
{% endblock content %}
