@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Lexend", sans-serif;
  color: #333 !important;
}

/* ------------------------- Fonts ------------------------- */
.lobster {
  font-family: "Lobster Two", cursive !important;
}

/* ------------------------- Backgrounds ------------------------- */
.bg-blue {
  background-color: #D7E5F0;
}

/* ------------------------- Images ------------------------- */
.logo {
  height: 4rem;
  width: 4rem;
}

.cover-image {
  height: 100%;
  background-image: url('/static/cover_image.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.05);
  background-blend-mode: darken;
}

.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top
}

.gallery-image {
  background-color: transparent;
}

.gallery-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

/* ------------------------- Sections ------------------------- */
.home-page-section {
  min-height: calc(100vh - 90px);
  height: auto;
}

/* ------------------------- Icons ------------------------- */
.icon-lg {
  font-size: 2rem;
}
